*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fbfafd;
    color: #fafafc;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
}
.mainSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(12, 19, 96);
    border-radius:25px;
    width: 50vw;
    height: 50vh;
   
    
}
.label1,.label2{
    display: flex;
    flex-direction: column;
    
}
#fromCurrency, #toCurrency{
    border:none;
    
    
}
.converts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.convesrsionSec{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3vw;
}

.flag1,.flag2{
    background-color: #fff;
    border-radius: 5px;
    width:10vw;
    height: 3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
#convertBtn{
    background-color: #fff;
    color: rgb(12, 19, 96);
    border: none;
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    height: 5vh;
    width: 28vw;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
    
}
.inputAmount{
  
    background-color: #fff;
    color: rgb(12, 19, 96);
    border: none;
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    height: 5vh;
    width: 20vw;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border:none;
    
    

}
.inputSec{
    display: flex;
    flex-direction: column;
    
    
}
#amount{
     background-color: #fff;
    color: rgb(12, 19, 96);
    border: none;
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    height: 5vh;
    width: 28vw;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border:none;
}
.la{
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
}